.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
}
.inMain{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 100%;
    color: #8731b8;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    /* height: auto; */
    margin-bottom: 70px;
}
/* .header h2{
    font-size: 36px;
    font-weight: 450;
    line-height: 1.5;
    width: 70%;
} */
.header p{
    color: #8731b8;
    font-size: 44px;
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    height: 100%;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 10px 10px;
    padding: 0;
    height: 100%;
}
.block h3{
    font-size: 30px;
    font-weight: 450;
    margin-bottom: 25px;
}
.block p{
    font-size: 18px;
    color: #818190;
    font-weight: 450;
    line-height: 1.8;
}

@media screen and (max-width: 756px) {
    .main{
        padding: 20px 0;
    }
    .inMain{
        width: 95%;
    }
    .header{
        width: 100%;
        margin-bottom: 10px;
        flex-direction: column;
    }
    /* .header h2{
        font-size: 22px;
    } */
    .header p{
        font-size: 20px;
    }
    .flex{
        flex-direction: column;

    }
    .block {
        margin: 5px;
    }
    .block h3{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .block p{
        font-size: 14px;
    }
}