.main {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  padding-top: 120px;
  margin-bottom: 100px;
}
.container {
  width: 90%;
  margin: auto;
  height: 100%;
}
.container > h1 {
  font-size: 48px;
  text-align: center;
  color: #8731b8;
  line-height: 1.5;
  font-weight: 400;
  line-height: 1.5;
  margin: 30px auto;
  padding: 0;
  letter-spacing: 0.02em;
}
.container > h3 {
  color: #818190;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 200;
  margin-bottom: 35px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;
  position: relative;
  border-radius: 20px;
  background-color: #f3f3f9;
  padding: 35px 30px 60px 30px;
}
.back {
  position: absolute;
  top: 45px;
  left: 35px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  color: #8731b8;
  cursor: pointer;
}
.back:hover p {
  text-decoration: underline;
}
.back span {
  width: 30px;
  height: 30px;
  background-color: #8731b8;
  border-radius: 50%;
  margin-right: 10px;
}
.back svg {
  color: #fff;
  width: 16px;
  height: 16px;
  margin: 7px 0 0 7px;
  cursor: pointer;
}
.header h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 35px;
  color: #8731b8;
}
.btn {
  display: inline-block;
  font-size: 16px;
  max-width: 400px;
  width: 100%;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 19px 24px;
  border-width: 1px;
  border-style: solid;
  letter-spacing: 0.02em;
  color: #ffffff;
  border-color: #8731b8;
  background-color: #8731b8;
  cursor: pointer;
  outline: none;
}
.modalBest {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.black {
  background-color: #fff;
}
.black svg {
  fill: #8731b8;
}
.modal form {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 20px;
  background-color: #f3f3f9;
  padding: 35px 30px 60px 30px;
}
.modal form .svg {
  display: flex;
  justify-content: space-between;
}
.modal form .svg svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #8731b8;
}
.modal form h2 {
  color: #8731b8;
}
.modal form input {
  padding: 15px 5px;
  margin: 20px 0;
  border-radius: 8px;
  border: 0.5px solid #8731b8;
  outline: #8731b8;
}
.buttons {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 40%;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 19px 24px;
  border-width: 1px;
  border-style: solid;
  letter-spacing: 0.02em;
  transition: background 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background 0.2s, border-color 0.2s;
  margin-bottom: 20px;
}
.buttons a.btn {
  width: 45%;
  margin: 0;
}
.btn:nth-child(2) {
  color: #ffffff;
  border-color: #8731b8;
  background-color: #8731b8;
}
.btn:nth-child(1) {
  color: #8731b8;
  border-color: #8731b8;
  background-color: #ffffff;
  /* margin-right: 15px; */
}
.btn:nth-child(2):hover {
  color: #8731b8;
  border-color: #8731b8;
  background-color: #ffffff;
}
.btn:nth-child(1):hover {
  color: #ffffff;
  border-color: #8731b8;
  background-color: #8731b8;
}

.map {
  width: 100%;
  height: 100vh;
  margin-top: 15px;
  margin-right: 15px;
}

.currentPosIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.currentPosIcon svg {
  color: #8731b8;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.currentPosIcon p {
  color: #8731b8;
  font-size: 14px;
}
.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modalContainer svg {
  /* position: absolute; */
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  color: #8731b8;
  border: 2px solid #8731b8;
  cursor: pointer;
  margin-bottom: 10px;
}
.buttons a {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
  padding: 16px 90px;
  border-width: 1px;
  border-style: solid;
  letter-spacing: 0.02em;
  transition: background 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background 0.2s, border-color 0.2s;
  margin: 20px auto;
  color: #ffffff;
  border-color: #8731b8;
  text-align: center;
  background-color: #8731b8;
}
.buttons a:hover {
  color: #8731b8;
  border-color: #ffffff;
  background-color: #ffffff;
}
.lastbutton {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
  padding: 16px 90px;
  border-width: 1px;
  border-style: solid;
  letter-spacing: 0.02em;
  transition: background 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background 0.2s, border-color 0.2s;
  margin: 20px auto;
  color: #ffffff;
  border-color: #8731b8;
  text-align: center;
  background-color: #8731b8;
}
.lastbutton:hover {
  color: #8731b8;
  border-color: #ffffff;
  background-color: #ffffff;
}
@media screen and (max-width: 900px) {
  .container > h1 {
    margin: 15px auto;
    font-size: 36px;
  }
  .container > h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 660px) {
  .container > h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  .buttons {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .buttons a {
    padding: 13px 24px;
  }
  .btn {
    width: 100%;
    max-width: 250px;
  }
}
